/*  STYLING ========================== */
body {
    background-color: rgb(0, 0, 0);
}

h1 {
    padding: 30px;
    text-align: center;
    background: #000000;
    color: white;
    font-size: 30px;
    font-family: Arial, Times, sans-serif;
 }

 p {
    padding: 30px;
    text-align: center;
    background: #000000;
    color: white;
    font-size: 30px;
    font-family: Arial, Times, sans-serif;
 }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*  NAVIGATION BAR =================== */

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    text-align: center;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/*  IMAGES =========================== */

#logo_sb {
    height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
}
